.all{
    margin: 50px auto;
    margin-left: 30%;
    margin-right: 30%;
    /* border: none;
    outline: none; */
    background-color: white;
    
}
body{
   background-image:url("img/quiz\ app\ image\ 2.jpg");
}